// Color Variables

$color-light-blue: #009dae; // Light Blue
$color-orange: #fd9426;
$color-black: #212529;
$color-light-grey: #868e96;
$color-pink: #ff506e;
$color-yellow: #ffae00;
$color-sky-blue: #adedf2;
$color-white: #fff;
