@import '../../styles/common';

.experience-container {
  background-color: $color-black;
  color: $color-light-grey;
  padding: 2rem 2rem 2rem 10rem;
  border-radius: 8px;
  display: flex;
  gap: 7rem;

  .experience-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
    color: $color-orange;
    margin: 0;
    margin-top: -10px;
  }

  .experience-timeline {
    position: relative;
    border-left: 2px solid $color-light-grey;

    .experience-item {
      margin-bottom: 2rem;
      position: relative;

      .circle {
        width: 15px;
        height: 15px;
        background-color: $color-orange;
        border-radius: 50%;
        position: absolute;
        left: -7px;
        top: 0;
      }

      .experience-content {
        padding-left: 1.5rem;

        .experience-role {
          font-weight: bold;
          font-size: 1.5rem;
          color: $color-light-blue;
          margin: 0;
        }

        .experience-company {
          font-weight: 500;
          color: $color-sky-blue;
        }

        .experience-date {
          display: block;
          margin-bottom: 0.5rem;
          color: $color-light-grey;
        }

        .experience-description {
          list-style-type: disc;
          padding-left: 1.5rem;
          li {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
